@use "presets" as *;
@use "mixins" as *;
.services__item {
  display: grid;

  gap: 10px;
  grid-template-rows: auto auto 1fr;
  @include md {
    align-items: center;

    grid-template-rows: auto 1fr;
  }
  &-img {
    @include sm {
      width: 64px;
      height: 64px;
    }
  }
  &-title {
    color: $color-act-regular;

    font-size: 18px;
    font-weight: 500;

    @include md-min {
      font-size: 24px;
      line-height: 28px;
    }
    @include md-sm {
      font-size: 20px;
    }
  }
  &-description {
    color: $color-white;

    font-size: 18px;
    line-height: 26px;

    @include md-sm {
      grid-column: 1 / span 3;
    }
    @include sm {
      font-size: 16px;
      line-height: 22px;

      grid-column: 1 / span 3;
    }
  }
}
