@use "presets" as *;
@use "mixins" as *;
.services__item {
  display: grid;
  gap: 10px;
  grid-template-rows: auto auto 1fr;
  @include md {
    grid-template-rows: auto 1fr;
    align-items: center;
  }
  &-img {
    @include sm {
      height: 64px;
      width: 64px;
    }
  }
  &-title {
    color: $color-act-regular;
    font-weight: 500;
    font-size: 18px;
    @include md-min {
      font-size: 24px;
      line-height: 28px;
    }
    @include md-sm {
      font-size: 20px;
    }
  }
  &-description {
    font-size: 18px;
    line-height: 26px;
    color: $color-white;
    @include md-sm {
      grid-column: 1 / span 3;
    }
    @include sm {
      grid-column: 1 / span 3;
      font-size: 16px;
      line-height: 22px;
    }
  }
}
