@use "presets" as *;
@use "mixins" as *;
.services {
  position: relative;

  border-radius: 0 0 12px 12px;
  background: linear-gradient($bg-gradient2);

  &::before {
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 20px;
    left: 20px;

    height: 10px;

    content: "";

    border-radius: 0 0 12px 12px;
    background-color: $background-services1;
  }
  &::after {
    position: absolute;
    top: 100%;
    right: 40px;
    left: 40px;

    height: 20px;

    content: "";

    border-radius: 0 0 12px 12px;
    background-color: $background-services2;
  }
  &__container {
    @extend %container;
  }
  &__page-link {
    a {
      color: $color-gray-text;

      @extend %link-page;
      img {
        @extend %link-page__img;
      }
    }
  }
  &__grid {
    display: grid;

    margin-top: 20px;
    padding-bottom: 20px;

    gap: 90px 40px;
    @include md-min {
      margin-top: 70px;
      padding-bottom: 80px;

      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      gap: 40px;
    }
  }
  &__page-title {
    padding-top: 10px;

    font-size: 32px;
    line-height: 38px;

    @extend %text-liner-gradient;
    @include md-min {
      width: max-content;

      font-size: 42px;
    }
    @include md-sm {
      font-size: 36px;
    }
  }
}
