@use "presets" as *;
@use "mixins" as *;

.profile {
  @include sm-min {
    padding-top: 250px;
    padding-bottom: 80px;
  }
  @include sm {
    padding-top: 149px;
    padding-bottom: 40px;
  }

  &__container {
    display: flex;

    @extend %container;
    gap: 40px;
    @include ul-min {
      margin: 0 175px;
    }
    @include lg {
      align-items: center;
      flex-direction: column;

      gap: 20px;
    }
  }
  &__img {
    width: 100%;

    @include lg-min {
      height: 500px;
    }
    @include lg-sm {
      width: 50%;
    }
    @include sm-xs {
      width: 30%;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;

    padding-bottom: 20px;

    border-bottom: 4px solid #e6e6f0;

    gap: 10px;
    @include xs-min {
      padding-top: 15px;
    }
    @include lg-xs {
      align-items: center;
    }

    &-name {
      margin: 0;

      font-size: 32px;
      line-height: 38px;

      @extend %text-liner-gradient2;
      @include md-min {
        font-size: 42px;
        line-height: 50px;
      }
      @include md-sm {
        font-size: 34px;
      }
    }
  }
  &__contacts {
    display: flex;

    gap: 25px;
    @include xs {
      flex-direction: column;

      gap: 10px;
    }

    &-work {
      color: $color-gray-text;
    }
    &-link {
      color: $color-act-regular;

      @extend %hover-link;
      @include lg-min {
        &:before {
          @include separator;
        }
      }
    }
  }
  &__biography {
    display: flex;
    flex-direction: column;

    margin-top: 40px;

    gap: 40px;
    @include lg-xs {
      align-items: center;

      margin-top: 20px;

      text-align: center;
    }
    @include xs {
      margin-top: 20px;

      gap: 20px;
    }

    &-first {
      padding-bottom: 30px;
    }
    &-info {
      color: $color-black;

      font-size: 18px;
      line-height: 26px;
    }
    &-title {
      padding-bottom: 10px;

      letter-spacing: 1px;
      text-transform: uppercase;

      color: $color-primary;

      font-size: 14px;
      line-height: 17px;
    }
  }
}
