@use "presets" as *;
@use "mixins" as *;

.team {
  margin-top: 40px;
  @include sm-min {
    margin-top: 60px;
  }

  &__container {
    @extend %container;
  }
  &__item {
    display: flex;

    background-color: $color-gray-bg;
    border-radius: 12px;
    padding-right: 10px;
    @include sm-min {
      gap: 40px;
    }
    @include sm {
      flex-direction: column;
      padding-left: 20px;
    }
    &-img-bg {
      height: 100%;
      @include md-sm {
        min-height: 350px;
        width: 300px;
      }
      @include sm {
        display: none;
      }
    }
    &-img-sm {
      @include sm-min {
        display: none;
      }
    }
  }
  .slider__indicators--team {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 20px;
  }
  .slider__indicator--team {
    width: $size;
    height: $size;

    opacity: 0.2;
    border-radius: $size * 0.5;
    background-color: $color-act-regular;
    @extend %hover-slider;

    &.active {
      opacity: 1;
    }
  }
}
