@use "presets" as *;
@use "mixins" as *;

.page-header {
  background: linear-gradient($bg-gradien1);
  @include sm-min {
    &::before {
      content: "";
      @include abs-pos;
      background-image: url(../img/home/header/header-background.svg);
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: 86vh;
    }
  }
  &::after {
    content: "";
    @include abs-pos(70%);
    background: linear-gradient(to top, $color-primary 0%, transparent 100%);
    z-index: 1;
  }
  &__content {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &-title {
      position: absolute;
      max-width: 620px;
      font-size: 38px;
      width: 100%;
      text-align: center;
      color: $color-white;
      font-weight: 500;
      padding: $gap;
      margin: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &-img {
      transform: translateY(30%);
    }
  }
  &__button {
    position: absolute;
    left: 50%;
    bottom: $gap;
    z-index: 2;
    transform: translateX(-50%);
    cursor: pointer;
  }
}
