@use "presets" as *;
@use "mixins" as *;

.navbar {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: grid;
  grid-template-columns: auto 1fr;

  gap: $gap;
  @extend %container;

  z-index: 2;

  @include sm-min {
    grid-template-areas: "logo actions" "logo menu";
    padding-top: 50px;
  }
  @include sm {
    grid-template-areas: "actions actions" "logo menu";
    padding-top: $gap;
  }

  &__logo {
    grid-area: logo;
  }
  &__menu {
    grid-area: menu;
    align-self: center;
    font-size: 18px;
    &-btn {
      position: relative;

      width: 40px;
      height: 30px;
      margin-left: auto;

      cursor: pointer;

      @include sm-min {
        display: none;
      }

      &-row {
        position: absolute;
        left: 0;

        display: block;

        width: 100%;
        height: 5px;

        transition: 0.25s ease-in-out;
        transform: rotate(0deg);

        opacity: 1;
        border-radius: 5px;
        background-color: $color-white;

        &:nth-of-type(1) {
          top: 0;
        }

        &:nth-of-type(2) {
          top: 12px;
        }

        &:nth-of-type(3) {
          top: 24px;
        }
      }

      &.active span {
        &:nth-of-type(1) {
          top: 12px;

          transform: rotate(135deg);
        }

        &:nth-of-type(2) {
          left: -40px;

          opacity: 0;
        }

        &:nth-of-type(3) {
          top: 12px;

          transform: rotate(-135deg);
        }
      }
    }
    &-list {
      list-style: none;
      margin: 0;

      @include sm-min {
        display: flex;
        gap: 15px;
        justify-content: flex-end;
        align-items: center;
      }
      @include sm {
        position: absolute;
        top: 0;
        right: -$mobile-menu-size;

        display: none;

        width: $mobile-menu-size;
        height: 100vh;
        padding: $gap;

        background-color: $color-primary;
        box-shadow: -5px 0 5px rgba($color-black, 0.5);

        &.active {
          display: block;
        }
      }
    }
    &-link {
      display: block;

      @include sm {
        margin: $gap 0;
      }
    }
  }

  &__actions {
    grid-area: actions;
    display: flex;
    gap: $gap;
    align-items: center;
    @include sm-min {
      justify-content: flex-end;
    }
    @include sm {
      justify-content: space-between;
      a {
        color: $color-gray-text;
      }
    }

    &-languages {
      font-weight: 700;
      font-size: 12px;
      display: flex;
      letter-spacing: 1px;
      gap: 2px;
    }
    &-language-link {
      display: block;
      padding: 6px 6px 5px 7px;
      border-radius: 8px;
      &.active {
        background-color: $color-accent;
        color: $color-white;
      }
    }
    &-locations {
      &::before {
        @extend %separator;
      }
      @include sm {
        display: none;
      }
    }
    &-phones {
      @include sm-min {
        &::before {
          @include separator;
        }
      }
    }
    &-phone-link {
      font-weight: 700;
      white-space: nowrap;
    }
    &-socials {
      @include sm-min {
        &::before {
          @include separator;
          bottom: 5px;
        }
      }
      @include sm {
        display: none;
      }
    }
  }
}
