@use "presets" as *;
@use "mixins" as *;

.footer {
  background-color: $color-gray-bg;

  &__container {
    @extend %container;
    padding-top: 30px;
    padding-bottom: 40px;
    border-top: 4px solid $color-gray-separator;
    margin: 0 20px;
    @include md {
      padding-bottom: 40px;
    }
  }
  &__grid {
    display: grid;
    @include md-min {
      grid-template-areas: "map rights" "links rights";
      row-gap: $gap;
    }
    @include md {
      grid-template-areas: "map" "links" "rights";
    }
  }
  &__locations-adress {
    color: $color-primary;
  }
  &__locations {
    grid-area: map;
    display: flex;
    align-items: center;
    gap: 30px;
    a {
      @extend %hover-link;
    }
    @include md {
      flex-direction: column;
      gap: 10px;
      padding-bottom: 20px;
    }
  }
  &__locations-link {
    a {
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $color-act-regular;
      @include md-min {
        &::before {
          @include separator;
          background-color: $color-gray-text;
          right: 10px;
        }
      }
    }
  }
  &__links {
    grid-area: links;
    display: flex;
    align-items: center;
    gap: 20px;
    @include md {
      flex-direction: column;
      gap: $gap;
      padding-bottom: $gap;
    }
  }
  &__phone {
    a {
      font-weight: 700;
      color: $color-primary-alt;
      @include md-min {
        &::before {
          @include separator;
          background-color: $color-gray-text;
          right: 10px;
        }
      }
      &:hover {
        color: black;
        transition: 0.5s;
      }
    }
  }
  &__mail {
    @include md-min {
      &::before {
        @include separator;
        background-color: $color-gray-text;
        right: 10px;
      }
    }
    a {
      font-weight: 700;
      color: $color-act-regular;
      @extend %hover-link;
    }
  }

  &__rights {
    grid-area: rights;
    display: flex;
    justify-content: flex-end;
    color: $color-gray-text;
    @include md {
      justify-content: center;
      text-align: center;
    }
  }
  &__socials-img {
    color: $color-act-regular;
    &:hover {
      color: $color-accent;
    }
  }
}
