@use "presets" as *;
@use "mixins" as *;

.footer {
  background-color: $color-gray-bg;

  &__container {
    margin: 0 $gap;
    padding-top: 30px;
    padding-bottom: 40px;

    border-top: 4px solid $color-gray-separator;

    @extend %container;
    @include md {
      padding-bottom: 40px;
    }
  }
  &__grid {
    display: grid;

    @include md-min {
      grid-template-areas: "map rights" "links rights";
      row-gap: $gap;
    }
    @include md {
      grid-template-areas: "map" "links" "rights";
    }
  }
  &__locations-adress {
    color: $color-primary;
  }
  &__locations {
    display: flex;
    align-items: center;

    gap: 30px;
    grid-area: map;
    @include md {
      flex-direction: column;

      padding-bottom: $gap;

      gap: 10px;
    }
    a {
      @extend %hover-link;
    }
  }
  &__locations-link {
    a {
      letter-spacing: 1px;
      text-transform: uppercase;

      color: $color-act-regular;

      font-size: 12px;
      font-weight: 700;

      @include md-min {
        &::before {
          right: 10px;

          background-color: $color-gray-text;

          @include separator;
        }
      }
    }
  }
  &__links {
    display: flex;
    align-items: center;

    gap: $gap;
    grid-area: links;
    @include md {
      flex-direction: column;

      padding-bottom: $gap;

      gap: $gap;
    }
  }
  &__phone {
    a {
      color: $color-primary-alt;

      font-weight: 700;

      @include md-min {
        &::before {
          right: 10px;

          background-color: $color-gray-text;

          @include separator;
        }
      }
      &:hover {
        transition: 0.5s;

        color: black;
      }
    }
  }
  &__mail {
    @include md-min {
      &::before {
        right: 10px;

        background-color: $color-gray-text;

        @include separator;
      }
    }
    a {
      color: $color-act-regular;

      font-weight: 700;

      @extend %hover-link;
    }
  }

  &__rights {
    display: flex;
    justify-content: flex-end;

    color: $color-gray-text;

    grid-area: rights;
    @include md {
      justify-content: center;

      text-align: center;
    }
  }
  &__socials-img {
    color: $color-act-regular;
    &:hover {
      color: $color-accent;
    }
  }
}
.footer__container--team {
  border-top: none;
}
