@use "presets" as *;
@use "mixins" as *;

.cases__main {
  display: flex;
  flex-direction: column;

  background-color: $color-gray-bg;

  @include lg-xs {
    grid-column-end: 3;
    grid-column-start: 1;
  }
  &:hover {
    transition: 0.25s;

    background: $color-gray-bgalt;
  }
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: $gap;

    border-top: 3px solid $color-white;

    gap: $gap;
    @include lg-min {
      height: 200px;
    }
  }
  &-title {
    padding: $gap;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-accent;

    font-size: 14px;
    line-height: 17px;
    &:hover {
      cursor: pointer;

      opacity: 0.6;
      color: $color-act-hover;
    }
  }
}
.cases__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: $gap;

  background-color: $color-gray-bg;

  gap: $gap;
  @include lg-sm {
    min-height: 200px;
  }
  @include sm-xs {
    min-height: 170px;
  }
  @include lg-xs {
    align-items: center;
    justify-content: center;

    text-align: center;
    &:nth-child(1) {
      grid-column-end: 3;
      grid-column-start: 1;
    }
  }
  &:hover {
    transition: 0.25s;

    background: $color-gray-bgalt;
  }

  &-title {
    color: $color-primary-soft;

    font-size: 18px;
    font-weight: 500;

    @extend %hover-link;
    @include sm-min {
      font-size: 24px;
    }
  }
  &-link {
    color: $color-gray-text;

    font-size: 18px;
  }
}
