@use "../presets" as *;

%container {
  max-width: $ul;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gap;
  padding-right: $gap;
}

%separator {
  content: "";
  display: inline-block;
  position: relative;
  right: 8px;
  bottom: 1px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: $color-gray-separator;
}

%link-page {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  %link-page__img {
    position: relative;
    top: 0.9px;
    left: 5px;
  }
}
%hover-link {
  &:hover {
    color: $color-accent;
    transition: 0.5s;
  }
}

%text-liner-gradient {
  background: linear-gradient($text-gradient1);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

%text-liner-gradient2 {
  background: linear-gradient($text-gradient2);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
