@use "../presets" as *;

%container {
  max-width: $ul;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap;
  padding-left: $gap;
}

%separator {
  position: relative;
  right: 8px;
  bottom: 1px;

  display: inline-block;

  width: 6px;
  height: 6px;

  content: "";

  border-radius: 6px;
  background-color: $color-gray-separator;
}

%link-page {
  letter-spacing: 1px;
  text-transform: uppercase;

  font-size: 14px;
  font-weight: 700;
  %link-page__img {
    position: relative;
    top: 0.9px;
    left: 5px;
  }
}
%hover-link {
  &:hover {
    transition: 0.5s;

    color: $color-accent;
  }
}

%hover-slider {
  &:hover {
    cursor: pointer;

    opacity: 0.6;
    background: $color-act-regular;
  }
}
%text-liner-gradient {
  background: linear-gradient($text-gradient1);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

%text-liner-gradient2 {
  background: linear-gradient($text-gradient2);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
