@use "../presets" as *;

@mixin abs-pos($t: 0, $r: 0, $b: 0, $l: 0) {
  position: absolute;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin separator {
  position: relative;
  right: 8px;

  display: inline-block;

  width: 6px;
  height: 6px;

  content: "";

  border-radius: 6px;
  background-color: $color-gray-separator;
}
