@use "presets" as *;
@use "mixins" as *;

.team-page {
  padding-top: 220px;
  margin-bottom: 60px;
  @include xs {
    margin-bottom: 40px;
    padding-top: 125px;
  }

  &__container {
    @extend %container;
  }
  &__title {
    margin-bottom: 20px;

    font-size: 32px;
    line-height: 38px;

    @extend %text-liner-gradient2;
    @include md-min {
      font-size: 42px;
      line-height: 50px;
      margin-left: 220px;
      margin-right: 220px;
      margin-bottom: 80px;
    }
    @include md-xs {
      font-size: 34px;
      text-align: center;
    }
  }
  .team__page-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    @include md-xs {
      grid-template-columns: 1fr 1fr;
    }
    @include xs {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}
