@use "presets" as *;
@use "mixins" as *;

.team-page__item {
  display: flex;

  gap: $gap;
  @include xs-min {
    flex-direction: column;
  }
  @include xs {
    align-items: flex-end;
    span {
      display: none;
    }
  }

  &-img {
    width: 100%;

    @include xs {
      width: 160px;
      height: 190px;
    }
  }
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xs {
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;

      gap: 10px;
    }
    svg {
      color: $color-gray-bg;
      &:hover {
        cursor: pointer;

        color: $color-white;
      }
    }
  }
  &-title {
    padding-bottom: 5px;

    color: $color-primary;

    font-size: 18px;
    font-weight: 500;

    @extend %hover-link;
  }
  &-description {
    color: $color-gray-text;
  }
  &-order-1 {
    @include xs {
      order: 6;
    }
  }
  &-order-2 {
    @include xs {
      order: 5;
    }
  }
}
