$color-primary: #323264;
$color-primary-alt: #46466e;
$color-primary-soft: #686887;

$color-accent: #f0145a;

$color-act-regular: #24a3ff;
$color-act-hover: #0084ff;
$color-act-active: #006ccf;

$color-gray-bg: #f5f5fa;
$color-gray-bgalt: #ededf7;
$color-gray-text: #b3b3ba;
$color-gray-separator: #e6e6f0;

$color-white: #ffffff;
$color-black: #000000;

$background-services1: #c9c9db;
$background-services2: #e7e7f2;

$bg-gradien1: 42deg, $color-primary 14%, $color-primary 51%, #7a425e 88%;
$bg-gradient2: 220deg, $color-primary 12%, $color-primary 57%, #643e72 87%;
$text-gradient1: 90deg, #ef8080 35%, $color-accent 100%;
$text-gradient2: 90deg, $color-accent 1%, #ef8080 100%;
