@use "presets" as *;
@use "mixins" as *;

.publication__item {
  display: inline-block;

  max-width: 415px;
  margin-bottom: 40px;

  border-radius: 8px;
  background-color: $color-white;

  @include xs {
    margin-bottom: $gap;
  }
  &-block {
    @include xs {
      display: none;
    }
  }
  &-order {
    order: 2;
  }
  &-title {
    padding-top: $gap;
    padding-right: $gap;
    padding-left: $gap;

    color: $color-act-regular;

    font-size: 18px;
    font-weight: 500;
    &:hover {
      transition: 0.5s;

      color: $color-accent;
    }
  }
  &-data {
    margin-top: 10px;
    margin-right: $gap;
    margin-left: $gap;
    padding-bottom: $gap;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-gray-text;

    font-size: 12px;
    font-weight: 700;

    @include xs-min {
      border-bottom: 4px solid $color-gray-separator;
    }
  }
  &-description {
    margin-top: $gap;
    margin-bottom: $gap;
    padding-right: $gap;
    padding-left: $gap;

    color: $color-black;

    line-height: 22px;

    @include xs {
      display: none;
    }
  }
  &-img {
    display: block;

    width: 100%;
  }
}
