@use "presets" as *;
@use "mixins" as *;

.publications {
  background-color: $color-gray-bg;
  padding-top: 20px;
  @include xs-min {
    position: relative;
    height: 860px;
    overflow: hidden;
    padding-top: 40px;
  }

  &__container {
    @extend %container;
    border-bottom: 4px solid $color-gray-separator;
    padding-bottom: 20px;
  }
  &__page-link {
    a {
      @extend %link-page;
      color: $color-act-regular;
      img {
        @extend %link-page__img;
      }
    }
  }
  &__section {
    column-count: 3;
    column-gap: 40px;
    @include sm-xs {
      column-count: 2;
    }
    @include xs {
      display: grid;
      grid-template-columns: 1fr;
    }
    @include xs-min {
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 160px;
        width: 100%;
        bottom: 0;
        background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #f5f5fa 86.5%);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__page-title {
    @extend %text-liner-gradient2;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
    @include md-min {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 40px;
    }
    @include md-sm {
      font-size: 34px;
    }
  }
  &__btn {
    display: inline-block;
    background-color: $color-act-regular;
    cursor: pointer;
    border: 1px solid $color-act-regular;
    border-radius: 12px;
    min-width: 250px;
    min-height: 50px;
    padding: 3px;
    color: $color-white;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    &:hover {
      background-color: $color-act-hover;
      transition: 0.5s;
    }
    @include xs-min {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
    }
    @include xs {
      order: 3;
      margin: 0 auto;
    }
  }
}
