@use "presets" as *;
@use "mixins" as *;

.introduction {
  padding-top: 250px;
  @include md-xs {
    padding-top: 180px;
  }
  @include xs {
    padding-top: 150px;
  }
  &__container {
    @extend %container;
    display: flex;
    gap: $gap;
    flex-direction: column;
    @include md-min {
      margin: 0 120px;
      gap: 40px;
      flex-direction: row;
    }
    @include md-xs {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include md-min {
      flex-basis: 690px;
      gap: 20px;
    }
  }
  &__info-title {
    margin: 0;
    @extend %text-liner-gradient2;
    font-size: 32px;
    line-height: 38px;
    @include md-min {
      font-size: 42px;
      line-height: 50px;
    }
    @include md-sm {
      font-size: 34px;
    }
  }
  &__info-description {
    font-size: 18px;
    line-height: 26px;
    color: $color-black;
    @include md-min {
      font-size: 21px;
      line-height: 30px;
    }
  }
  &__advantages {
    display: flex;
    flex-direction: column;
    height: max-content;
    @include xs {
      gap: 30px;
      padding-top: 20px;
    }
    @include md-min {
      border-left: 4px solid $color-gray-separator;
      gap: 50px;
      flex-basis: 410px;
    }
    @include md-xs {
      flex-direction: row;
      border-top: 4px solid $color-gray-separator;
      padding-top: 10px;
      gap: $gap;
    }
    @include xs {
      border-top: 4px solid $color-gray-separator;
    }
  }
  &__advantages-item {
    @include xs-min {
      padding-left: $gap;
    }
  }
  .advantages-item__description {
    font-size: 18px;
    line-height: 21px;
    color: $color-primary;
  }
}
