@use "presets" as *;
@use "mixins" as *;

.banner__photo {
  overflow: hidden;

  margin-top: 30px;

  background-image: url(../img/about/main/photo.png);
  background-repeat: no-repeat;
  background-position: center;

  @include lg-min {
    margin-top: 100px;

    background-size: 100%;
  }
  @include xs {
    background-image: url(../img/about/main/photo-sm.png);
    background-size: cover;
  }
}
.banner__title {
  margin: 0;
  padding: 120px 20px;

  text-align: center;
  letter-spacing: 63px;
  text-transform: uppercase;

  opacity: 0.8;
  color: $color-white;
  text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8);

  font-size: 96px;
  line-height: 113px;

  @include md-sm {
    font-size: 50px;
    line-height: 60px;
  }
  @include sm {
    letter-spacing: 20px;
    word-wrap: break-word;

    font-size: 36px;
    line-height: 42px;
  }
}
